/***************************************
  vModal: Dialog
 ***************************************/


/**
 * Example HTML:
 *
  <v-dialog close>
    <v-dialog-header>[content]</v-dialog-header>
    <v-dialog-body>[content]</v-dialog-body>
    <v-dialog-footer>[content]</v-dialog-footer>
  </v-dialog>
 */


.Dialog {
  padding: $modal-spacing / 2;
  z-index: 10;
  pointer-events: none;

  @media (min-width: 20em) {
    padding: $modal-spacing;
  }
}

.Dialog-content {
  position: relative;
  background-color: $dialog-bg-color;
  pointer-events: auto;
}

.Dialog-close {
  appearance: none;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  
  cursor: pointer;
  background: transparent;
  border: 0;

  font: inherit;

  text-decoration: none;
  user-select: none;
  white-space: normal;
  line-height: normal;

  font-size: inherit;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline: 0;
    background-image: none;
  }
}

.Dialog-header,
.Dialog-body,
.Dialog-footer {
  position: relative;
}


/* Dialog modifires
 ***************************************/

/* Modifiers: size */

.Dialog--sizeMd .Dialog-content {
  max-width: $dialog-md-size;
}
.Dialog--sizeLg .Dialog-content {
  max-width: $dialog-lg-size;
}
.Dialog--sizeSm .Dialog-content {
  max-width: $dialog-sm-size;
}
.Dialog--sizeFull .Dialog-content {
  max-width: 100%;
}


/* Modifiers: position */

.Dialog--positionCenter {
  width: 100%;
  margin: $modal-spacing * 2 0;

  .Dialog-content {
    margin: 0 auto;
  }
}
.Dialog--positionMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.Dialog--positionTopLeft {
  position: absolute;
  top: 0;
  left: 0;
}
.Dialog--positionTopRight {
  position: absolute;
  top: 0;
  right: 0;
}
.Dialog--positionBottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.Dialog--positionBottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
}


@if $default-theme {
  /* Dialog theme: default
   ***************************************/

  .Dialog--default {
    &.Dialog--positionCenter {
      animation: Dialog-enterDown $modal-enter-duration;
    }
    &.Dialog--positionTopLeft,
    &.Dialog--positionBottomLeft {
      animation: Dialog-enterLeft $modal-enter-duration;
    }
    &.Dialog--positionTopRight,
    &.Dialog--positionBottomRight {
      animation: Dialog-enterRight $modal-enter-duration;
    }
    &.Dialog--positionMiddle .Dialog-content {
      animation: Dialog-enterZoom $modal-enter-duration * 0.75;
    }
  }

  .Dialog--default .Dialog-content {
    border-radius: 2px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  }

  .Dialog--default .Dialog-header,
  .Dialog--default .Dialog-body,
  .Dialog--default .Dialog-footer {
    padding: $modal-spacing;
  }

  .Dialog--default .Dialog-header {
    border-bottom: 1px solid #F0F0F0;
  }

  .Dialog--default .Dialog-footer {
    border-top: 1px solid #F0F0F0;
  }

  .Dialog--default .Dialog-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    z-index: 10;

    transition: transform $dialog-close-hover-duration;

    span {
      position: absolute;
      overflow: hidden;
      width: 1px;
      height: 1px;
      padding: 0;
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
    }

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 12px;
      height: 1px;
      width: 16px;
      background-color: $dialog-close-color;
      transition: background-color $dialog-close-hover-duration, transform $dialog-close-hover-duration;
      transform-origin: 50% 50%;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }

    &:hover {
      transform: scale(0.75);

      &::before,
      &::after {
        background-color: $dialog-close-hover-color;
      }
    }
  }


  /* Theme: default (animations) */

  @keyframes Dialog-enterDown {
    0%, 60%, 75%, 90%, 100% {
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
    75% {
      transform: translate3d(0, -10px, 0);
    }
    90% {
      transform: translate3d(0, 5px, 0);
    }
    100% {
      transform: none;
    }
  }

  @keyframes Dialog-enterLeft {
    0%, 60%, 75%, 90%, 100% {
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
      opacity: 0;
      transform: translate3d(-3000px, 0, 0);
    }

    60% {
      opacity: 1;
      transform: translate3d(25px, 0, 0);
    }

    75% {
      transform: translate3d(-10px, 0, 0);
    }

    90% {
      transform: translate3d(5px, 0, 0);
    }

    100% {
      transform: none;
    }
  }

  @keyframes Dialog-enterRight {
    0%, 60%, 75%, 90%, 100% {
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
      opacity: 0;
      transform: translate3d(3000px, 0, 0);
    }

    60% {
      opacity: 1;
      transform: translate3d(-25px, 0, 0);
    }

    75% {
      transform: translate3d(10px, 0, 0);
    }

    90% {
      transform: translate3d(-5px, 0, 0);
    }

    100% {
      transform: none;
    }
  }

  @keyframes Dialog-enterZoom {
    0%, 60%, 100% {
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }

    60% {
      transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
}

