// -------------------------------------
// Settings
// -------------------------------------


// Conditions
// -------------------------------------

$default-theme: true !default;


// Modal
// -------------------------------------

$modal-spacing:         20px  !default;
$modal-fade-duration:   0.25s !default;
$modal-enter-duration:  0.75s !default;
$modal-zindex:          1000  !default;
$modal-backdrop-color:  rgba(0,0,0, 0.6) !default;


// Dialog
// -------------------------------------

$dialog-bg-color:   white !default;
$dialog-md-size:    640px !default; 
$dialog-lg-size:    800px !default;
$dialog-sm-size:    400px !default;

$dialog-close-color:            #2196F3 !default;
$dialog-close-hover-color:      #F44336 !default;
$dialog-close-hover-duration:   0.25s   !default;

