// -------------------------------------
// Settings
// -------------------------------------


$v-modal-default-theme: true !default;


// Modal
// -------------------------------------

$v-modal-spacing:    20px !default;

$v-modal-zindex:     1000             !default;
$v-modal-backdrop:   rgba(0,0,0, 0.5) !default;

$v-dialog-background:       white !default;
$v-dialog-border-radius:    2px   !default;
$v-dialog-enter-duration:   0.75s !default;

$v-dialog-sm-width:   380px !default;
$v-dialog-md-width:   640px !default;
$v-dialog-lg-width:   860px !default;

$v-close-color:            #2196F3 !default;
$v-close-hover-color:      #F44336 !default;
$v-close-hover-duration:   0.25s   !default;
